<aside class="sidebar">

  <div class="sidebar-brand">
    <div class="brand-icon">E</div>

    <div>
      <h2>EstateHub</h2>
      <span>Customer Portal</span>
    </div>
  </div>

  <nav class="sidebar-nav">

    <p class="nav-title">MENU</p>

    @for (item of menuItems; track item.route) {
      <a
        [routerLink]="item.route"
        routerLinkActive="active"
        class="nav-item"
      >
        <span class="nav-icon">{{ item.icon }}</span>
        <span>{{ item.label }}</span>
      </a>
    }

  </nav>

<div class="sidebar-bottom">

  <button
    class="logout-btn"
    type="button"
    (click)="logout()">

    <span class="nav-icon">↪</span>
    <span>Logout</span>

  </button>

</div>

